.root {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.button {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 1rem;
    margin: 1rem;
    background-color: #3d3e47;
    font-family: 'Outfit';
    font-weight: 600;
}
.button:hover {
    cursor: pointer;
}

.selected-button {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 1rem;
    margin: 1rem;
    background-color: rgb(254, 91, 119);
    font-family: 'Outfit';
    font-weight: 600;
}