.root {
    height: 30vh;
    width: 80vw;
    background-color: #282933;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.map {
    height: 80%;
    width: 25%;
    border-radius: 1rem;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map:hover {
    -webkit-filter: blur(1px);
}