.root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgb(18,19,30);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-family: 'Outfit';
  color: white;
  background: rgb(66,197,242);
  background: linear-gradient(to right, #42c5f2 0%, #823f98 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: bold;
}

.button {
  border: none;
  background-color: white;
  width: 11rem;
  height: 3rem;
  border-radius: 4rem;
  color: black;
  font-size: 1.2rem;
  font-family: 'Outfit';
  font-weight: 700;
  padding: 6px 16px;
}
.button:hover {
  cursor: pointer;
}